[Unit]
Description=OfflineIMAP

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap
Restart=on-abort
User=crito

[Install]
WantedBy=multi-user.target
